:root {
  --color-basketball: rgb(191, 71, 27);
  --color-sky: #e5ffff;
  --color-night-sky: #296bb3;

  /* --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px; */
}
/* 
html {
  font-size: 62.5%;
} */
/* html {
  min-height: 100%;
} */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.area-1 h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--color-night-sky);
}
.content-wrap {
  display: grid;
  height: 100vh;
}

.area-1 {
  background-color: var(--color-sky);
  padding: 20px;
}
.area-2 {
  background-color: var(--color-night-sky);
  padding: 20px;
}
#eachTeamContainer {
  position: relative;
  top: 20px;
}
#eachTeamHeader {
  margin: 0 0 0 20px;
  font-size: 60px;
}
#siteNameContainer {
  display: flex;
  justify-content: center;
}
nav {
  position: absolute;
  /* width: 97vw; */
  right: 0;
  margin-right: 10px;
  /* margin-top: 50px; */
  /* background-color: var(--color-night-sky); */
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  justify-content: center;
  position: relative;
  top: 50px;
}
nav ul li {
  list-style: none;
  padding-right: 15px;
  justify-content: right;
}
nav ul li a {
  background-color: var(--color-night-sky);
  color: var(--color-sky);
  text-decoration: none;
  padding: 4px 6px;
}
/* nav ul li a {
  background-color var()
  color: var(--color-sky);
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */
a:is(:link, :active, :visited).active {
  text-decoration: underline;
  text-decoration-color: var(--color-basketball);
  text-decoration-thickness: 3px;
  margin-bottom: 200px;
}
#connect {
  padding: 4px 6px;
  background-color: var(--color-basketball);
  color: var(--color-sky);
}
/* #connect {
  background-color: var(--color-sky);
  color: var(--color-night-sky);
  border-radius: 100px;
  padding: 1px 14px;
} */
.underline {
  /* border-top: solid 3px #bf471b; */
  border-top: solid 3px var(--color-basketball);
  width: 100%;
  position: relative;
  top: -25px;
}
/* h1#siteTitle {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--color-night-sky);
} */

h5#contactMeTitle {
  /* position: relative;
  left: 60px; */
  margin-left: 60px;
  font-weight: 400;
}
.kenPomEntries {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  justify-content: center;
}
#buttonKenPom {
  padding: 0 5%;
  background-color: rgb(191, 71, 27, 0.5);
  color: var(--color-night-sky);
  border-radius: 5px;
  border-color: var(--color-night-sky);
}
#buttonKenPom:hover {
  background-color: var(--color-basketball);
  color: var(--color-sky);
}
#buttonBrianKidd {
  padding: 0 5%;
  color: var(--color-sky);
  border-radius: 5px;
  background-color: var(--color-basketball);
  border-color: var(--color-sky);
}
#buttonBrianKidd:hover {
  background-color: rgb(191, 71, 27, 0.5);
  color: var(--color-sky);
}
#scorePrediction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color: var(--color-night-sky);
}
#scorePrediction > h3 {
  margin-bottom: 30px;
  font-size: 25px;
}

#predictionLine {
  border-top: solid 3px var(--color-basketball);
  width: 50%;
  margin: 0 auto;
}
.brianKiddEntries {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.area-2-container {
  position: relative;
  top: 100px;
}
#compareStatsHeader {
  margin: 0 20px 0 0;
  font-size: 60px;
  color: var(--color-sky);
}
#compareStatsHeaderContainer {
  display: flex;
  flex-direction: row-reverse;
}
.statBreakdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color: var(--color-sky);
  text-align: center;
  overflow: auto;
}
.statBreakdown > h3 {
  color: var(--color-sky);
  font-size: 25px;
}
.statBreakdown div:nth-child(odd) {
  width: 100%;
  background-color: var(--color-sky);
  color: var(--color-night-sky);
}

#statDiff {
  background-color: black;
  color: white;
}

#kenPom1,
#kenpom2,
#brianKidd1,
#brianKidd2 {
  margin: 10px;
  width: 15vw;
}
footer {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 5vh;
  bottom: 0;
  position: relative;
  margin-top: auto;
  /* position: sticky;
  left: 0;
  bottom: 0; */
  /* width: 100%; */
}
.footer-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* justify-content: center; */
  background-color: var(--color-night-sky);
  grid-column: 1;
  color: var(--color-sky);
  padding-right: 5px;
}
.footer-left a {
  color: var(--color-basketball);
}
.footer-right {
  display: flex;
  align-items: center;
  background-color: var(--color-sky);
  grid-column: 2;
  color: var(--color-night-sky);
  padding-left: 5px;
}

.fa {
  padding: 10px 5px;
  font-size: 12px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

a#footerWebsiteLink {
  text-decoration: none;
  font-weight: 700;
  background-color: var(--color-sky);
  padding: 0 2px;
}
a#footerWebsiteLink:hover {
  color: var(--color-sky);
  background-color: var(--color-night-sky);
}

@media screen and (min-width: 1024px) {
  nav ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    top: 20px;
  }
  #connect {
    background-color: var(--color-sky);
    color: var(--color-night-sky);
    border-radius: 100px;
    padding: 1px 14px;
  }
  .page-container {
    position: relative;
    min-height: 100vh;
  }
  .content-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 1fr auto; */
    height: 100vh;
    padding-bottom: 2.5rem;
  }
  header {
    width: 50vw;
  }
  #siteNameContainer {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: left;
    align-items: bottom;
  }

  nav ul li a {
    color: var(--color-sky);
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25em;
  }
  h1#siteTitle {
    color: var(--color-night-sky);
  }
  .area-1 {
    background-color: var(--color-sky);
    grid-column: 1;
    padding: 20px;
  }
  .area-2 {
    background-color: var(--color-night-sky);
    grid-column: 2;
    padding: 20px;
    /* overflow: scroll; */
  }
  .statBreakdown {
    /* max-height: 500px; */
  }
  .all-stats {
    /* max-height: 100cqh;
    overflow-y: scroll; */
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  .underline {
    width: 85%;
    position: relative;
    top: -3px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .area-2-container {
    position: relative;
    top: 0;
  }
  nav ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    top: 20px;
  }
  nav ul li a {
    color: var(--color-night-sky);
    text-decoration: none;
  }
  nav ul li a {
    background-color: var(--color-sky);
    color: var(--color-night-sky);
    text-decoration: none;
    padding: 0 2px;
  }
  #connect {
    background-color: var(--color-night-sky);
    color: var(--color-sky);
    border-radius: 100px;
    padding: 1px 14px;
  }
  .underline {
    top: -3px;
    width: 90%;
  }
  #siteNameContainer {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: left;
    align-items: bottom;
  }
  #scorePrediction {
    margin-bottom: 0;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-night-sky);
    color: var(--color-sky);
    border-top: 3px solid var(--color-sky);
    position: relative;
    bottom: 0;
    width: 100vw;
  }
  .footer-right {
    background-color: var(--color-night-sky);
    color: var(--color-sky);
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .area-1 {
    padding: 0;
  }
  .area-2-container {
    position: relative;
    top: 0;
  }
  #eachTeamHeader {
    text-align: center;
    margin: 0;
  }
  #compareStatsHeader {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .kenPomEntries {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .brianKiddEntries {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  #kenPom1,
  #kenpom2,
  #brianKidd1,
  #brianKidd2 {
    margin: 10px;
    width: 30vw;
  }
  #buttonKenPom {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #buttonBrianKidd {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #scorePrediction {
    margin-bottom: 0;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 3px solid var(--color-sky);
    color: var(--color-sky);
    position: relative;
    bottom: 0;
    width: 100vw;
  }
  .footer-right {
    background-color: var(--color-night-sky);
    color: var(--color-sky);
  }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  h1#siteTitle {
    font-size: 1.75em;
    text-align: center;
    margin-top: 40px;
  }
  .area-1 {
    padding: 0;
  }
  .area-2-container {
    position: relative;
    top: 0;
  }
  .area-2-container {
    position: relative;
    top: 0;
  }
  #eachTeamContainer {
    position: relative;
    top: 0;
  }
  #eachTeamHeader {
    text-align: center;
    margin: 0;
  }
  #compareStatsHeader {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .kenPomEntries {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .brianKiddEntries {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  #kenPom1,
  #kenpom2,
  #brianKidd1,
  #brianKidd2 {
    margin: 10px;
    width: 30vw;
  }
  #buttonKenPom {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #buttonBrianKidd {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #scorePrediction {
    margin-bottom: 0;
  }
  nav ul {
    top: 0px;
  }
  .underline {
    top: -21px;
  }
  .footer-right {
    background-color: var(--color-night-sky);
    color: var(--color-sky);
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-night-sky);
    color: var(--color-sky);
    border-top: 3px solid var(--color-sky);
    position: relative;
    bottom: 0;
    width: 100vw;
  }
}
