:root {
  --color-basketball: rgb(191, 71, 27);
  --color-sky: #e5ffff;
  --color-night-sky: #296bb3;

  /* --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px; */
}
/* 
html {
  font-size: 62.5%;
} */
/* html {
  min-height: 100%;
} */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  /* height: 100vh;
  background: linear-gradient(
    to right,
    #e5ffff 0%,
    #e5ffff 50%,
    #296bb3 50%,
    #296bb3 100%
  ); */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.area-1 h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--color-night-sky);
}
#eachTeamHeader {
  margin: 0 0 0 20px;
  font-size: 60px;
}
nav {
  position: absolute;
  width: 97vw;
  margin-top: 50px;
}
nav ul {
  display: flex;
  flex-direction: row-reverse;
}
nav ul li {
  list-style: none;
  padding-right: 15px;
}
nav ul li a {
  color: var(--color-sky);
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a:is(:link, :active, :visited).active {
  text-decoration: underline;
  text-decoration-color: var(--color-basketball);
  text-decoration-thickness: 3px;
  margin-bottom: 200px;
}
#connect {
  background-color: var(--color-sky);
  color: var(--color-night-sky);
  border-radius: 100px;
  padding: 1px 14px;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}
.area-1 {
  background-color: var(--color-sky);
  grid-column: 1;
  padding: 20px;
}
.area-2 {
  background-color: var(--color-night-sky);
  grid-column: 2;
  padding: 20px;
  overflow: auto;
}
#siteNameContainer {
  position: relative;
  top: 20px;
}
/* h1#siteTitle {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--color-night-sky);
} */
.underline {
  /* border-top: solid 3px #bf471b; */
  border-top: solid 3px var(--color-basketball);
  width: 90%;
  position: relative;
  top: -3px;
  left: 40px;
  margin-bottom: -20px;
}
h5#contactMeTitle {
  position: relative;
  left: 60px;
  font-weight: 400;
}
.kenPomEntries {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  justify-content: center;
}
#buttonKenPom {
  padding: 0 5%;
  background-color: rgb(191, 71, 27, 0.5);
  color: var(--color-night-sky);
  border-radius: 5px;
  border-color: var(--color-night-sky);
}
#buttonKenPom:hover {
  background-color: var(--color-basketball);
  color: var(--color-sky);
}
#buttonBrianKidd {
  padding: 0 5%;
  color: var(--color-sky);
  border-radius: 5px;
  background-color: var(--color-basketball);
  border-color: var(--color-sky);
}
#buttonBrianKidd:hover {
  background-color: rgb(191, 71, 27, 0.5);
  color: var(--color-sky);
}
#scorePrediction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color: var(--color-night-sky);
}
#scorePrediction > h3 {
  margin-bottom: 30px;
  font-size: 25px;
}

#predictionLine {
  border-top: solid 3px var(--color-basketball);
  width: 50%;
  margin: 0 auto;
}
.brianKiddEntries {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.area-2-container {
  position: relative;
  top: 145px;
}
#compareStatsHeader {
  margin: 0 20px 0 0;
  font-size: 60px;
  color: var(--color-sky);
}
#compareStatsHeaderContainer {
  display: flex;
  flex-direction: row-reverse;
}
.statBreakdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color: var(--color-sky);
  text-align: center;
}
.statBreakdown div {
  /* padding: 5px 0;*/
}
.statBreakdown > h3 {
  color: var(--color-sky);
  font-size: 25px;
}
.statBreakdown div:nth-child(odd) {
  width: 100%;
  background-color: var(--color-sky);
  color: var(--color-night-sky);
}

#statDiff {
  background-color: black;
  color: white;
}

#kenPom1,
#kenpom2,
#brianKidd1,
#brianKidd2 {
  margin: 10px;
  width: 15vw;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 5vh;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* justify-content: center; */
  background-color: var(--color-night-sky);
  grid-column: 1;
  color: var(--color-sky);
  padding-right: 5px;
}
.footer-left a {
  color: var(--color-basketball);
}
.footer-right {
  display: flex;
  align-items: center;
  background-color: var(--color-sky);
  grid-column: 2;
  color: var(--color-night-sky);
  padding-left: 5px;
}

.fa {
  padding: 10px 5px;
  font-size: 12px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
