:root {
  --color-basketball: rgb(191, 71, 27);
  --color-sky: #e5ffff;
  --color-night-sky: #296bb3;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  /* width: 100%;
 height: 100%; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* most outer layer to ensure that footer will always be on the bottom even with the new statistical data */
.flex-site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.page-container {
  min-height: 95vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
/* page navigation */
nav {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
nav ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  top: 20px;
}
nav ul li {
  list-style: none;
  padding-right: 15px;
  justify-content: right;
}
nav ul li a {
  color: var(--color-sky);
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
}
a:is(:link, :active, :visited).active {
  text-decoration: underline;
  text-decoration-color: var(--color-basketball);
  text-decoration-thickness: 3px;
  margin-bottom: 200px;
}
#connect {
  background-color: var(--color-sky);
  color: var(--color-night-sky);
  border-radius: 100px;
  padding: 1px 14px;
}
/* site name container */
#siteNameContainer {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: left;
  align-items: bottom;
}
.underline {
  width: 85%;
  position: relative;
  top: -3px;
  border-top: solid 3px var(--color-basketball);
}
.area-1 {
  background-color: var(--color-sky);
  grid-column: 1;
  padding: 20px;
  /* height: 100%; */
}
.area-1 h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--color-night-sky);
}
#eachTeamContainer {
  position: relative;
  top: 20px;
}
#eachTeamHeader {
  margin: 0 0 0 20px;
  font-size: 60px;
}
#kenPomEntries {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  justify-content: center;
}
#kenPom1,
#kenpom2,
#brianKidd1,
#brianKidd2 {
  margin: 10px;
  width: 15vw;
}
#buttonKenPom {
  padding: 0 5%;
  background-color: rgb(191, 71, 27, 0.5);
  color: var(--color-night-sky);
  border-radius: 5px;
  border-color: var(--color-night-sky);
}
#buttonKenPom:hover {
  background-color: var(--color-basketball);
  color: var(--color-sky);
  cursor: pointer;
}
#undefinedPrediction {
  text-align: center;
  color: red;
  background-color: var(--color-sky);
}
#scorePrediction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color: var(--color-night-sky);
}
#scorePrediction > h3 {
  margin-bottom: 30px;
  font-size: 25px;
}
#predictionLine {
  border-top: solid 3px var(--color-basketball);
  width: 50%;
  margin: 0 auto;
}
/* area-2 styles */
.area-2 {
  background-color: var(--color-night-sky);
  grid-column: 2;
  padding: 20px;
  /* overflow: scroll; */
}
#compareStatsTopContainer {
  position: relative;
  top: 105px;
}
#compareStatsHeaderContainer {
  display: flex;
  flex-direction: row-reverse;
}
#compareStatsHeader {
  margin: 0 20px 0 0;
  font-size: 60px;
  color: var(--color-sky);
}
.input-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
#undefinedCompare {
  text-align: center;
  color: red;
  background-color: var(--color-sky);
}
.stat-breakdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: var(--color-sky);
  text-align: center;
  overflow: auto;
}
.stat-breakdown > h3 {
  color: var(--color-sky);
  font-size: 25px;
}
.stat-breakdown div:nth-child(odd) {
  width: 100%;
  background-color: var(--color-sky);
  color: var(--color-night-sky);
}
#brianKiddEntries {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#buttonBrianKidd {
  padding: 0 5%;
  color: var(--color-sky);
  border-radius: 5px;
  background-color: var(--color-basketball);
  border-color: var(--color-sky);
}
#buttonBrianKidd:hover {
  background-color: rgb(191, 71, 27, 0.5);
  color: var(--color-sky);
  cursor: pointer;
}
/* footer is 5vh since the page container is 95vh and 5vh is the difference between the flex-site-wrapper and the page container */
footer {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 5vh;
}
.footer-right {
  display: flex;
  align-items: center;
  background-color: var(--color-sky);
  grid-column: 2;
  color: var(--color-night-sky);
  padding-left: 5px;
}
.footer-left a {
  color: var(--color-basketball);
}
.footer-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: var(--color-night-sky);
  grid-column: 1;
  color: var(--color-sky);
  padding-right: 5px;
}
a#footerWebsiteLink {
  text-decoration: none;
  font-weight: 700;
  background-color: var(--color-sky);
  padding: 0 2px;
}
a#footerWebsiteLink:hover {
  color: var(--color-sky);
  background-color: var(--color-night-sky);
}
.fa {
  padding: 10px 5px;
  font-size: 12px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
@media screen and (max-width: 1024px) {
  .page-container {
    display: flex;
    flex-direction: column;
  }
  /* flex-1 ensures that the flex areas take up the entire available space */
  .area-1 {
    flex: 1;
  }
  .area-2 {
    flex: 1;
  }
  nav ul li a {
    background-color: var(--color-sky);
    color: var(--color-night-sky);
    text-decoration: none;
    padding: 0 2px;
  }
  #connect {
    background-color: var(--color-night-sky);
    color: var(--color-sky);
    border-radius: 100px;
    padding: 1px 14px;
  }
  #eachTeamContainer {
    top: 0;
  }
  #compareStatsTopContainer {
    position: relative;
    top: 0;
  }
  .stat-breakdown {
    margin-top: 0;
  }
  footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color-night-sky);
    color: var(--color-sky);
    border-top: 3px solid var(--color-sky);
    position: relative;
    bottom: 0;
    width: 100vw;
  }
  .footer-right {
    background-color: var(--color-night-sky);
    color: var(--color-sky);
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-left {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  #siteNameContainer {
    top: -25px;
    justify-content: center;
  }
  nav {
    top: 50px;
    margin-right: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  nav ul li a {
    background-color: var(--color-night-sky);
    color: var(--color-sky);
    text-decoration: none;
    padding: 4px 6px;
  }
  #connect {
    padding: 4px 6px;
    background-color: var(--color-basketball);
    color: var(--color-sky);
    border-radius: 0;
  }
  #eachTeamHeader {
    text-align: center;
    margin: 0;
  }
  #kenPomEntries {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  #kenPom1,
  #kenpom2,
  #brianKidd1,
  #brianKidd2 {
    margin: 10px;
    width: 30vw;
  }
  #buttonKenPom {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #scorePrediction {
    margin-bottom: 10px;
  }
  .underline {
    top: -50px;
    width: 100%;
  }
  #compareStatsHeader {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  #brianKiddEntries {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  #buttonBrianKidd {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 497px) {
  nav {
    top: 85px;
  }
  #eachTeamHeader {
    font-size: 2.8em;
  }
  #compareStatsHeader {
    font-size: 2.8em;
  }
  #kenPom1,
  #kenpom2,
  #brianKidd1,
  #brianKidd2 {
    margin: 10px;
    width: 50vw;
  }
  .footer-right {
    flex-direction: column;
  }
  .footer-left {
    flex-direction: column;
  }
}
